<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGdMySh__xk5GXOfVyfB-r2XQ0HIR9ca0</string>
	<key>GCM_SENDER_ID</key>
	<string>301546249587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meApp</string>
	<key>PROJECT_ID</key>
	<string>fyp24-373f3</string>
	<key>STORAGE_BUCKET</key>
	<string>fyp24-373f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301546249587:ios:ec63b1bd7b02df9037f906</string>
</dict>
</plist>